@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    text-decoration: none;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(217, 54%, 11%);
}

.attribution { font-size: 11px; text-align: center; opacity: 0; }
.attribution a { color: hsl(228, 45%, 44%); }

.section {
    width: 100%;
    min-height: 100vh;
    background-color: hsl(217, 54%, 11%);
}

.container {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 3rem;
}

@media screen and (max-width: 768px) {
    .container {
          padding: 0 1rem;
    }
}

.nft {
    display: grid;
    place-content: center;
    .nft-container-contents {
        width: 100%;
        .nft-card {
            padding: 20px;
            width: 360px;
            background-color: hsl(216, 50%, 16%);
            border-radius: 8px;
            box-shadow: 0px 12px 0px 12px rgba(0, 0, 0, 0.1), 0px 12px 0px 36px rgba(0, 0, 0, 0.05),;
            // 0px 12px 0px 12px rgba(0, 0, 0, 0.5)
            .nft-image {
                height: 320px;
                position: relative;
                cursor: pointer;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 8px;
                }
                .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    background: url(../images/icon-view.svg) no-repeat center center;
                    background-color: hsla(178, 100%, 50%, .5);
                    width: 100%;
                    height: 100%;
                    transition: .1s ease;
                    opacity: 0;
                    color: white;
                    mix-blend-mode: lighten;
                    border-radius: 8px;
                }
            }
            .nft-image:hover {
                .overlay {
                    opacity: 1;
                }
            }
            .nft-body {
                margin: 2rem 0;
                h1 { 
                    color: hsl(0, 0%, 100%);
                    font-size: 20px;
                    font-weight: 600;
                    cursor: pointer;
                    margin: 1rem 0;
                    transition: .1s ease;
                }
                h1:hover {
                    color: hsl(178, 100%, 50%);
                }
                p { 
                    color: hsl(215, 51%, 70%); 
                    font-size: 18px; 
                    font-weight: 300;
                }
                .nft-content {
                    display: flex;
                    justify-content: space-between;
                    margin: 1rem 0;
                    .info {
                        display: flex;
                        align-items: center;
                        color: hsl(215, 51%, 70%);
                        .eth {
                            color: hsl(178, 100%, 50%);
                        }
                        span {
                            margin-left: .5rem;
                        }
                    }
                }
                .hr {
                    opacity: .1;
                }
                .nft-bottom {
                    display: flex;
                    align-items: center;
                    margin-top: 1rem;
                    .nft-bottom-img-container {
                        height: 2rem;
                        width: 2rem;
                        border-radius: 50%;
                        position: relative;
                        border: 1px solid hsl(0, 0%, 100%);
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    p {
                        margin-left: 20px;
                        color: hsl(215, 51%, 70%);
                        font-weight: 300;
                        span {
                            color: #fff;
                            text-decoration: none;
                            cursor: pointer;
                            transition: .1s ease;
                        }
                        span:hover {
                            color: hsl(178, 100%, 50%);
                        }
                    }
                }
            }
        }
        @media screen and (max-width: 580px) {
            .nft-card {
                  width: 100%;
            }
        }
    }
}